# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Transient_Echoes_Project.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mark Lambe\Documents\GitHub\TransientEchoes\Transient_Echoes_Project\.idea\.idea.Transient_Echoes_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
